table{
    font-size: 0.8em !important;
    color: #000 !important;
    font-weight: 400 !important;
}

table thead tr td{
    padding:2px !important;
    border-bottom: none !important;
    background-color: #286090 !important;
    color:#FFF !important;
    text-transform: uppercase !important;
    font-weight: bold !important;
}
table tbody tr td{
    padding:2px !important;
    height: 30px !important;
}
table tfoot tr td{
    padding:2px !important;
}
th, td {
    white-space: nowrap;
}

/*table td:first-child{
    width: 10px !important;
}*/

table thead .sorting_asc::after{
    content: '' !important;
} 
table thead .sorting_desc::after{
    content: '' !important;
} 

table thead .sorting_asc::after, .sorting::after, .sorting_desc::after {
    bottom: 1px !important;
}
.dataTables_length, .dataTables_filter {
    padding: 0px !important;
}
/*
div.dataTables_wrapper div.dataTables_filter {
    text-align: right;
    width: 50% !important;
    padding-right: 36px !important;
    margin-right: 16px !important;
}
*/
.btn-controller {
    padding-top: 4px !important;
    padding-bottom: 4px !important;
    text-align: center;
}
.btn-controller2 {
    padding-top: 4px !important;
    padding-bottom: 4px !important;
    text-align: left;
}
textArea{
    resize: none !important;
}
.input-group-addon{
    cursor: pointer !important;
}
fieldset {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
    box-shadow:  0px 0px 0px 0px #000;
}

legend{
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;
    width:auto;
    padding:0 10px;
    border-bottom:none;
}

fieldset .row{
    margin-top: 0 !important;
}

.modal-header {
    padding: 10px !important;
    background-color: #286090 !important;
    color: #fff !important;
}
.modal-body{
    padding-top: 5px !important;
}
.modal-lg {
    width: 90% !important;
}
#preview {
    width: 150px !important;
    max-height: 160px !important;
}
.breadcrumb {
    background-color: #286090 !important;
    color: #FFF !important;
    border: 1px solid #28B4E9;
}
.top-nav ul.top-menu>li>a {
    background: #286090 !important;
    color: #FFF !important;
    -webkit-border-radius: 4px !important;
    border: 1px solid #286090 !important;
}
.top-nav ul.top-menu>li>a>span {
    color: #FFF !important;
}

.top-nav ul.top-menu>li>a:hover,.top-nav ul.top-menu>li>a:focus {
    background:#57c8f1 !important;
    border: 1px solid #57c8f1 !important;
}
.top-nav ul.top-menu > li .dropdown-menu.logout {
    width: auto !important;
}
.top-nav .dropdown-menu.extended.logout {
    top: 40px !important;
}
.dropdown-menu.extended.logout>li>a{
    color:#286090 !important;
}
.dropdown-menu.extended.logout {
    padding: 0px !important;
}
.full-width .dropdown-menu.extended.logout>li>a:hover {
    background:none !important;
    color:#FFF !important;
}
.dropdown-menu.extended.logout>li>a:hover {
    background:none !important;
    color:#57c8f1 !important;
}
.dropdown-menu.extended.logout>li>a:hover i {
    color:#57c8f1 !important;
}
#dynamicTable_length>label{
    color:#286090 !important;
}
#dynamicTable_filter>label{
    color:#286090 !important;
}
#dynamicTable_info{
    color:#286090 !important;
}
.logo{
    cursor: pointer !important;
}
.modal {
    text-align: center;
    padding: 0!important;
}

.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

#componentList td:first-child{
    width: auto !important;
}

.modal-md {
    width: 800px;
}
.breadcrumbs-alt{
    margin: -3px 20px 0 0 !important;
}
.breadcrumb a {
    color: #FFF !important;
}
.breadcrumbs-alt a {
    background: #286090 !important;
    color: #FFF !important;
}

.breadcrumbs-alt a::before {
    border-color: #286090 #286090 #286090 rgba(0, 0, 0, 0) !important;
}

.breadcrumbs-alt a::after {
    border-left: 1em solid #286090 !important;
}

.top-nav {
    margin-top: 22px !important;
}

#message{
    float: none !important;
    position: absolute !important;
    right: 15px !important;
    top: 95px !important;
}

.panel-heading {
    background: #286090 !important;
    color: #FFF !important;
}
#loader {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 9999;
}
.child-loader {
    left: 0;
    right: 0;
    top: 50%;
    bottom: 0;
    position: fixed;
    height: 60px!important;
    text-align: center;
    z-index: 9999;
}
.dataTables_scrollBody {
    overflow:scroll !important; 
}

.bootstrap-select .btn-default{
    background-color: #FFF !important;
    color:#767676 !important; 
}

.txtTotal {
    text-align: left;
    text-transform: uppercase;
    font-size: 1.8em !important;
    padding-top: 3px !important;
}

.total {
    text-transform: uppercase;
    font-size: 1.8em !important;
    padding-top: 3px !important;
    color: #FF0000 !important;
}

#sidebar .sub-menu>.sub li a {
    cursor: pointer !important;
}

a{
    cursor: pointer !important;
}

.action{
    width: 35px !important;
    text-align: center !important;
}

.statusBancos{
    position: relative !important;
    top: -9px !important;
    padding-top: 8px !important;
    padding-bottom: 9px !important;
    right: -35px !important;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;    
}
.btn-back{
    position: relative !important;
    top: -13px !important;
    padding-top: 8px !important;
    padding-bottom: 9px !important;
    right: -25px !important;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;    
}
.table-success{
    background-color: #c3e6cb;
}
.table-warning{
    background-color: #ffeeba;
}
header{
    background-color: #185CA3 !important;
}
.panel {
    border: 1px solid #28B4E9 !important;
}